html, body { // Clears default margins
    margin: 0px;
}

.MainPage{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #202020;
}

.MainPage-header{
    width: 100%;
    left: 0;
    height: 100px;
    position: relative;
}