.SubmitButton {
    text-align: center;
    padding-top: 40px;
}

.SubmitButton-button {
    cursor: pointer;
    font-size: 25px;
    color: white;
    border-radius: 6px;
    border: 2px;
    background-color: grey;
}