.Header {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 70px;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

.Header-sub {
    font-size: 20px;
    font-style: italic; 
}